/*

!src
!module
!gui
!docs
!debug
!core
!device_operation
!.github
!electronGUI
!.editorconfig
!.gitignore
!ATX.apk
!LICENSE
!README.md
!build.bat
!img.png
!installer.py
!main.py
!electron_gui
!minitouch.py
!requirements.txt
!ui.png
!window.py
!server.py
!window.spec
src/explore_task_data/__pycache__/normal_task_11.cpython-39.pyc
*.pyc
*.xml
module/.idea/.name
