@import './base.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-size: cover;
  user-select: none;
}

::-webkit-scrollbar { display: none; }